Repository webdev923/textarea-autosize-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --no-ignore .*.js

Add `!important` to the inline height property (#278)
  .changeset/fuzzy-trains-sneeze.md
  src/index.tsx
Due: prettier --write, eslint --fix --no-ignore .*.js

Version Packages (#274)
  .changeset/cuddly-meals-kick.md
  .changeset/fuzzy-trains-sneeze.md
  .changeset/hungry-otters-return.md
  CHANGELOG.md
  package.json
Due: prettier --write

Fix broken setProperty call (#280)
  .changeset/rude-squids-tickle.md
  src/index.tsx
Due: prettier --write, eslint --fix --no-ignore .*.js

Version Packages (#282)
  .changeset/rude-squids-tickle.md
  CHANGELOG.md
  package.json
Due: prettier --write

Fix prettier formatting (#283)
  src/index.tsx
Due: prettier --write, eslint --fix --no-ignore .*.js

Added `{ rowHeight: number }` as a second parameter to the `onHeightChange` callback (#284)
  .changeset/fair-bobcats-matter.md
  README.md
  src/calculateNodeHeight.ts
  src/index.tsx
Due: prettier --write, eslint --fix --no-ignore .*.js

Version Packages (#285)
  .changeset/fair-bobcats-matter.md
  CHANGELOG.md
  package.json
Due: prettier --write

Tweak `docs:publish` script to use the new remote reference
  package.json
Due: prettier --write

Add package.json#engines (#289)
  package.json
Due: prettier --write

Allow React 17 in the specified peer dependency range (#296)
  .changeset/rich-hounds-pump.md
  package.json
Due: prettier --write

Version Packages (#299)
  .changeset/rich-hounds-pump.md
  CHANGELOG.md
  package.json
Due: prettier --write

update docs
  .nojekyll
  index.5eec1ff2.js
  index.5eec1ff2.js.map
  index.html
Due: prettier --write, eslint --fix --no-ignore .*.js

Use Parcel 2 for the example page (#295)
  .gitignore
  example/package.json
  package.json
  yarn.lock
Due: prettier --write

Add pull_request as a trigger for the CI job (#306)
  .github/workflows/ci.yml
Due: none

Move resize listener to a layout effect (#305)
  .changeset/clean-kiwis-boil.md
  src/hooks.ts
  src/index.tsx
Due: prettier --write, eslint --fix --no-ignore .*.js

Version Packages (#308)
  .changeset/clean-kiwis-boil.md
  CHANGELOG.md
  package.json
Due: prettier --write

Changed `TextareaAutosizeProps` to a TS interface (#311)
  .changeset/purple-yaks-grin.md
  package.json
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix --no-ignore .*.js

Version Packages (#312)
  .changeset/purple-yaks-grin.md
  CHANGELOG.md
  package.json
Due: prettier --write

Account for `word-break` property when calculating the height (#326)
  .changeset/quick-pianos-exercise.md
  src/getSizingData.ts
Due: prettier --write, eslint --fix --no-ignore .*.js

Version Packages
  .changeset/quick-pianos-exercise.md
  CHANGELOG.md
  package.json
Due: prettier --write

Change master references to main
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
Due: prettier --write

Fixed the `tabindex` attribute name that is set on the hidden textarea used for height calculations (#327)
  .changeset/rotten-radios-travel.md
  src/calculateNodeHeight.ts
Due: prettier --write, eslint --fix --no-ignore .*.js

Version Packages (#329)
  .changeset/quick-pianos-exercise.md
  .changeset/rotten-radios-travel.md
  CHANGELOG.md
  package.json
Due: prettier --write

Use Yarn 3 (#338)
  .gitignore
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Add React 18 to the allowed peer dependency range (#341)
  .changeset/witty-garlics-pump.md
  package.json
  yarn.lock
Due: prettier --write

Update lock file
  yarn.lock
Due: none

Update Changesets-related deps
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write

Version Packages (#344)
  .changeset/witty-garlics-pump.md
  CHANGELOG.md
  package.json
Due: prettier --write

Add `package.json#exports` (#354)
  .changeset/light-turtles-peel.md
  package.json
  yarn.lock
Due: prettier --write

Version Packages (#355)
  .changeset/light-turtles-peel.md
  CHANGELOG.md
  package.json
Due: prettier --write

Handle custom fonts loading (#362)
  .changeset/tricky-jokes-wave.md
  example/index.html
  example/index.tsx
  package.json
  src/__tests__/index.test.js
  src/getSizingData.ts
  src/hooks.ts
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix --no-ignore .*.js

Workaround for Firefox bug with `scrollHeight` (#353)
  .changeset/loud-boats-judge.md
  src/calculateNodeHeight.ts
Due: prettier --write, eslint --fix --no-ignore .*.js

Use node 16 on CI
  .github/actions/ci-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Version Packages (#367)
  .changeset/loud-boats-judge.md
  .changeset/tricky-jokes-wave.md
  CHANGELOG.md
  package.json
Due: prettier --write

Update Babel-related dependencies
  package.json
  yarn.lock
Due: prettier --write

Optimize bundling strategy (#373)
  .changeset/fair-pears-invite.md
  .changeset/rotten-doors-fly.md
  .changeset/rotten-doors-swim.md
  package.json
  src/getSizingData.ts
  src/index.tsx
  src/resolved-conditions/false.ts
  src/resolved-conditions/true.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix --no-ignore .*.js

Add a guard against potentially missing `documents.fonts` (#370)
  .changeset/great-moose-judge.md
  src/hooks.ts
Due: prettier --write, eslint --fix --no-ignore .*.js

Version Packages (#374)
  .changeset/fair-pears-invite.md
  .changeset/great-moose-judge.md
  .changeset/rotten-doors-fly.md
  .changeset/rotten-doors-swim.md
  CHANGELOG.md
  package.json
Due: prettier --write

Always forward provided `onChange` (#377)
  .changeset/rich-garlics-film.md
  src/index.tsx
Due: prettier --write, eslint --fix --no-ignore .*.js

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,json})
  eslint --fix --no-ignore .*.js: any of: *.{js,ts,tsx}
