Repository webdev923/textarea-autosize-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --no-ignore .*.js

Use namespace imports for React in example
  example/index.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Update dev deps
  package.json
Due: none

Make the hidden text area non-tabbable and hidden from screen readers (#252)
  README.md
  src/calculateNodeHeight.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Use scoped version of react-testing-library
  package.json
  src/__tests__/index.test.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Remove usage of `jsnext` option from rollup-plugin-node-resolve
  rollup.config.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Fix prop-types bundling
  rollup.config.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Remove unsupported `warnings` option from usage of rollup-plugin-uglify
  rollup.config.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Use scoped jest-dom package
  package.json
  src/__tests__/index.test.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Use scoped @rollup/plugin-replace
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Fix src files pattern in lint config
  .eslintrc
  src/calculateNodeHeight.js
  src/index.js
Due: prettier --write, eslint --fix --no-ignore .*.js

7.1.1
  package.json
Due: none

Try to set a11y attributes only in the browser (fixes SSR)
  src/calculateNodeHeight.js
Due: prettier --write, eslint --fix --no-ignore .*.js

7.1.2
  package.json
Due: none

Run tests as part of the preversion script
  package.json
Due: none

Add @Andarist as contributor
  package.json
Due: none

Upgrade dependencies
  .huskyrc
  .lintstagedrc
  .size-limit.js
  example/rollup.config.js
  package.json
  rollup.config.js
  scripts/update-size.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Rewrite using TS & hooks. Cleanup bunch of stuff, use preconstruct for building
  .babelrc.js
  .eslintrc
  .gitignore
  .lintstagedrc
  example/index.html
  example/index.js
  example/index.tsx
  example/rollup.config.js
  package.json
  rollup.config.js
  src/calculateNodeHeight.js
  src/calculateNodeHeight.ts
  src/forceHiddenStyles.ts
  src/getSizingData.ts
  src/hooks.ts
  src/index.js
  src/index.tsx
  src/isBrowser.js
  src/isBrowser.macro.js
  src/utils.ts
  tsconfig.json
Due: prettier --write, eslint --fix --no-ignore .*.js

Update testing deps
  package.json
Due: none

"Fix" tests
  .eslintrc
  src/__tests__/__snapshots__/index.test.js.snap
  src/__tests__/index.test.js
  src/index.tsx
Due: prettier --write, eslint --fix --no-ignore .*.js

Disable @typescript-eslint/no-non-null-assertion rule
  .eslintrc
Due: none

Add v8 changesets (#263)
  .changeset/README.md
  .changeset/big-shoes-tap.md
  .changeset/config.json
  .changeset/fuzzy-pears-raise.md
  .changeset/mighty-cobras-tell.md
  .changeset/plenty-camels-grow.md
  .changeset/twenty-hotels-repair.md
  .changeset/warm-meals-confess.md
  README.md
  package.json
Due: prettier --write

Switch to GitHub actions + prepare release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .travis.yml
  yarn.lock
Due: none

Reorder changesets
  .changeset/0-twenty-hotels-repair.md
  .changeset/1-fuzzy-pears-raise.md
  .changeset/2-mighty-cobras-tell.md
  .changeset/3-big-shoes-tap.md
  .changeset/4-warm-meals-confess.md
Due: prettier --write

Add temporarily custom changelog generator
  .changeset/changelog.js
  .changeset/config.json
Due: prettier --write, eslint --fix --no-ignore .*.js

Fix how `@changesets/cli/changelog` got required
  .changeset/changelog.js
Due: prettier --write, eslint --fix --no-ignore .*.js

Add last changeset about removing support for style.minHeight/maxHeight
  .changeset/1-fuzzy-pears-raise.md
  .changeset/5-dirty-guests-bathe.md
  src/index.tsx
Due: prettier --write

Version Packages (#264)
  .changeset/0-twenty-hotels-repair.md
  .changeset/1-fuzzy-pears-raise.md
  .changeset/2-mighty-cobras-tell.md
  .changeset/3-big-shoes-tap.md
  .changeset/4-warm-meals-confess.md
  .changeset/5-dirty-guests-bathe.md
  .changeset/plenty-camels-grow.md
  CHANGELOG.md
  package.json
Due: prettier --write

use @changesets/changelog-github
  .changeset/changelog.js
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --no-ignore .*.js

Update size of the library in the README
  README.md
Due: prettier --write

Update URL references to the repository and examples site
  README.md
  package.json
Due: prettier --write

Export TextareaAutosizeProps type (#265)
  .changeset/spotty-hornets-wait.md
  src/index.tsx
Due: prettier --write

Fix calculatation of height with box sizing 'border-box' (#266)
  .changeset/rich-apes-argue.md
  src/calculateNodeHeight.ts
Due: prettier --write

Fixed an issue with internal cache not being populated correctly when using `cacheMeasurements` prop
  .changeset/wise-roses-laugh.md
  src/index.tsx
Due: prettier --write

Add sponsor button
  .github/FUNDING.yml
Due: none

Version Packages (#267)
  .changeset/rich-apes-argue.md
  .changeset/spotty-hornets-wait.md
  .changeset/wise-roses-laugh.md
  CHANGELOG.md
  package.json
Due: prettier --write

Remove mentioning `inputRef` prop from the README
  README.md
Due: prettier --write

Exclude ref from TextareaAutosizeProps
  .changeset/cuddly-meals-kick.md
  src/index.tsx
Due: prettier --write

Upgrade deps
  .vscode/settings.json
  README.md
  package.json
  src/calculateNodeHeight.ts
  src/forceHiddenStyles.ts
  src/hooks.ts
  yarn.lock
Due: prettier --write

Refactor TextareaAutosizeProps
  .changeset/cuddly-meals-kick.md
  .changeset/hungry-otters-return.md
  src/index.tsx
Due: prettier --write

Update example of grabbing ref to use ref attribute (#277)
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.md)
  eslint --fix --no-ignore .*.js: any of: *.js
